body{
    margin: 0;
}

.header{
    display: flex;
    flex-direction: row;
    justify-items: center;
    width: 100%;
    border-bottom: 1px solid blueviolet;
}

.logo{
    width: 100px;
    height: 50px;
}